.navbar{
  height: 100px;
}
.searchCity{
  width: 100%;
}
input.searchCity{
  background-color: #95c8f5;
  border-radius: 10px 10px 10px 10px;
  border: #95c8f5;
}
.search{
  width: 100%;
  position: relative;
  display: flex;
  height: 40px;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="text"]::placeholder{
  text-align: center;
  color: #ffffff;
}
/* .searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #95c8f5;
  background: #95c8f5;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
} */
